nav{
	box-shadow:none;
	background:$white;
	// background:$black;
	margin-top:50px;
	ul{
		li{
			line-height: 64px;
			transition: all 0.5s ease;
			a{
				color: $text;
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				transition: all 0.5s ease;
				&:hover{
					background:none;
					color: $black;
					opacity: 0.6;
				}
			}
			.become-a-bt{
				background: $green;
			    height: 45px;
			    border-radius: 3px;
			    line-height: 45px;
			    color: #fff;
			    padding: 0px 20px;
			    margin-left: 20px;
			    &:hover{
					background:$green;
					color: $white;
					font-weight: normal;
					opacity: 1;
				}
			}
		}
	}
	.brand-logo{
		width: 100px;
		height: auto;
	}
	
}

nav a{
	color:$black;
}

.sticky{
	position: fixed;
    width: 100%;
    left: 0px;
    padding: 10px 50px;
    top: 0px;
    margin: 0px;
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    height: 85px;
    z-index: 999;
}